<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/id-value" method="post">
        <label for="roll-no">Roll No</label>
        <input type="number" name="rollNo" id="rollNo"><hr>
        <label for="first-name">First Name</label>
        <input type="text" name="firstName" id="firstName"><hr>
        <label for="dob">Date of Birth</label>
        <input type="text" name="dob" id="dob"><hr>
        <label for="address">Address</label>
        <input type="text" name="address" id="address"><hr>
        <label for="email">E Mail</label>
        <input type="text" name="email" id="email"><hr>
        <label for="imgUpload"></label>
        <input type="file" id="imgUpload" name="imgUpload">
        <button type="submit">Submit</button>
    </form> -->
    <form action="/id-value" method="post">
        <input type="file" name="image" id="image">
        <button type="submit">Submit</button>
    </form>
</body>
</html>