<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>display page</h1>
    <% if (ids.length > 0) { %>
        <div class="grid">
            <% for (let id of ids) { %>
              <h1>
                  <%= id.name %>
              </h1>
              <h2>
                  <%= id.dob %> <br> <%= id.address %> <br>
              </h2>
                        <% } %>
    <% } %>                    
</body>
</html>